.movie {
    display: flex;
    flex-direction: column;

    &__container {
        &__header {
            background-color: rgb(255, 255, 255, 0.5);
            max-width: 500px;
            display: flex;
            margin: 0 auto;
            padding: 20px;
            border-radius: 50px;
            align-items: center;


            &__input {
                border: none;
                border-radius: 10px;
                width: 200px;
                height: 30px;
                margin: 10px;
                padding-left: 10px;
            }

            &__button {
                border: none;
                border-radius: 30px;
                width: 100px;
                height: 30px;
                margin: 10px;
                cursor: pointer;
                background-color: rgb(249, 250, 255);

                &:hover {
                    background-color: rgb(220, 220, 220);
                }
            }
        }

        &__body {
            margin: 50px;

            &__movie {
                &__list {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                    gap: 20px;
                }

                &__item {
                    border-radius: 20px;
                    background-color: rgb(255, 255, 255, 0.8);
                    padding: 10px;
                    text-align: center;
                    cursor: pointer;
                    transition: transform 0.5s ease;
                    padding: 20px;

                    &:hover {
                        transform: scale(1.05);
                    }
                }

                &__img {
                    max-width: 250px;
                    max-height: 350px;
                    border-radius: 10px;
                }

                &__title {
                    font-size: 1.2em;
                    font-weight: 400;
                }

                &__year {
                    font-size: 0.8em;
                    font-weight: 400;
                    color: rgb(93, 92, 92);
                }
            }
        }
    }
}